@charset "UTF-8";
@font-face {
  font-family: notokr;
  font-weight: 100;
  font-style: normal;
  src: url("/assets/fonts/notokr-thin.eot");
  src: local("☺"), url("/assets/fonts/notokr-thin.woff") format("woff"), url("/assets/fonts/notokr-thin.otf") format("opentype"); }

@font-face {
  font-family: notokr;
  font-weight: 200;
  font-style: normal;
  src: url("/assets/fonts/notokr-light.eot");
  src: local("☺"), url("/assets/fonts/notokr-light.woff") format("woff"), url("/assets/fonts/notokr-light.otf") format("opentype"); }

@font-face {
  font-family: notokr;
  font-weight: 300;
  font-style: normal;
  src: url("/assets/fonts/notokr-demilight.eot");
  src: local("☺"), url("/assets/fonts/notokr-demilight.woff") format("woff"), url("/assets/fonts/notokr-demilight.otf") format("opentype"); }

@font-face {
  font-family: notokr;
  font-weight: 400;
  font-style: normal;
  src: url("/assets/fonts/notokr-regular.eot");
  src: local("☺"), url("/assets/fonts/notokr-regular.woff") format("woff"), url("/assets/fonts/notokr-regular.otf") format("opentype"); }

@font-face {
  font-family: notokr;
  font-weight: 500;
  font-style: normal;
  src: url("/assets/fonts/notokr-medium.eot");
  src: local("☺"), url("/assets/fonts/notokr-medium.woff") format("woff"), url("/assets/fonts/notokr-medium.otf") format("opentype"); }

@font-face {
  font-family: notokr;
  font-weight: 700;
  font-style: normal;
  src: url("/assets/fonts/notokr-bold.eot");
  src: local("☺"), url("/assets/fonts/notokr-bold.woff") format("woff"), url("/assets/fonts/notokr-bold.otf") format("opentype"); }

@font-face {
  font-family: notokr;
  font-weight: 900;
  font-style: normal;
  src: url("/assets/fonts/notokr-black.eot");
  src: local("☺"), url("/assets/fonts/notokr-black.woff") format("woff"), url("/assets/fonts/notokr-black.otf") format("opentype"); }
