#report {
    font-family: 본고딕, "Source Han Sans K", "Noto Sans CJK KR", notokr;
    font-weight: normal;
    
    .text {
        display : inline-block;
        width : 100%;
        max-width : 800px;
        
        text-align: left;
    }

}